/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #add8e6;
    font-family: 'Nerko One', cursive;
    color: #fff;
    text-align: center;
}

/* Utilities */

.container{
    max-width: 670px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* Header */

h1{
    font-size: 64px;
}

/* Main */


.card{
    height: 180px;
    width: calc((100% / 4) - 20px);
    background-image: url(./img/pattern.png);
    background-size: contain;
    background-position: center;
    margin: 15px 10px;
    border: 1px solid grey;
    border-radius: 8px;
    float: left;
    position: relative;
}

.card h2{
    width: 150px;
    position: absolute;
    bottom: 0;
    color: #c54388;
    visibility: hidden;
}
.card:hover h2{
    visibility: visible;
}
.card:hover {
    background-color: #fff;
    background-repeat: no-repeat;
    cursor: pointer;
}
.card.air-baloon:hover{
    background-image: url(./img/noun_air_balloon_3134741.png);
}
.card.bicycle:hover{
    background-image: url(./img/noun_Bicycle_3134821.png);
}
.card.tractor:hover{
    background-image: url(./img/noun_Tractor_3134797.png);
}
.card.submarine:hover{
    background-image: url(./img/noun_Submarine_3134738.png);
}
.card.tram:hover{
    background-image: url(./img/noun_Tram_3134750.png);
}
.card.cruise-ship:hover{
    background-image: url(./img/noun_Cruise_Ship_3134824.png);
}
.second-card-row :nth-child(3){
    background-image: url(./img/noun_Submarine_3134738.png);
    background-repeat: no-repeat;
    background-color: #fff;
}
.second-card-row .card:nth-child(3) h2{
    visibility: visible;
}
/* Footer */

footer{
    color: #000;
}